.current-task {
    -fx-background-color: rgba(174, 174, 174, 0.5);
    -fx-border-width: 2px;
    -fx-border-color: #272727;
}

.best-task {
    -fx-background-color: rgba(255, 255, 0, 0.5);
    -fx-border-width: 2px;
    -fx-border-color: #272727;
}

.axis:bottom .axis-label .text,
.axis:left .axis-label .text {
    -fx-fill: yellow;
}

.chart {
    -fx-legend-visible: false;
}