@import "scheduleChart.css";
@import "base.css";

* {
    -bg-color-bg: #303030;
    -bg-color-bar: #212121;
    -bg-color-card: #424242;

    -text-color-primary: rgba(255, 255, 255, 1.0);
    -text-color-secondary: rgba(255, 255, 255, 0.7);
    -accent-color-primary: #00c5d4;
}

.best-task:hover {
    -fx-background-color: rgba(255, 255, 0, 0.9);
}