@import "../ganttchart/scheduleChart.css";
@import "base.css";

* {
    -background-color-primary: #FAFAFA;
    -background-color-secondary: #F5F5F5;
    -text-color-primary: rgba(0,0,0, 0.87);
    -text-color-secondary: rgba(0,0,0, 0.54);
    -accent-color-primary: #00c5d4;
    -fx-font-family: Roboto;
}
