.task {
    -fx-background-color: #FFFF00;
    -fx-opacity: 0.7;
    -fx-border-width: 2px;
    -fx-border-color: #272727;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 255), 10, 0, 0, 0);
}

.axis:bottom .axis-label .text,
.axis:left .axis-label .text {
    -fx-fill: yellow;
}

.chart {
    -fx-legend-visible: false;
}